@media only screen and (min-width:200px) and (max-width:576px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 30px;
    }
    .nav-section{
        flex-direction: column;
        text-align: center;
    }
    .nav-bar{
       justify-content: center;
    }
    #nav-form{
      display: flex;
      justify-content: center;
    }
    .banner-section{ 
        flex-direction: column;
        gap: 5px;
        text-align: center
    }
    .left-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .types-deliv{
        width: 180px;
        display: flex;
        justify-content: center;
    }
    .ban-headline{
        text-align: center;
        font-size: 1.8rem;
    }
    .order-box{
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }
    .right-banner{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .various-snacks{
        flex-direction: column;
        gap: 2rem;
    }
    .info-desk{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
    .our-time{
        gap: 15px;
        border: none;
    }
    .place{
        gap: 12px;
        border: none;
    }
    .items-selection, .see-more{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-demo{
        display: flex;
        flex-direction: column;
    }
    .service-area{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .your-choice{
        flex-direction: column;
        justify-content:center;
    }
    .service-types{
        align-items: center;
        gap: 25px;
        padding: 30px 15px;
    }
    .testimonials-sec{
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center;
    }
    .clients-review{
        flex-direction: column;
        align-items: center;
    }
    .left-compli-part{
        width: 250px;
    }
    .right-food-pho{
        width: 250px;
    }
    .subscription{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 35px 20px;
        border-radius: 25px;
    }
    .pick-items{
        padding: 15px;
    }
    .pick-items img{
        width: 100%;
    }
    .cli-add {
       width: 240px;
       padding: 0;
    }
    .collection{
        justify-content: center;
    }
    #form{
        padding: 6px;
        margin: 0 50px;
    }
    footer{
        width: 250px;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    .more-info, .social-link, .details{
        width: 240px;
        gap: 15px;
    }
    .social-link i{
        gap: 15px;
    }
    .hide{
        display: none;
    }
}