@media only screen and (min-width:200px) and (max-width:576px){
    body{
        padding: 20px;
        width: max-content;
    }
    .nav-section{
        margin-top: 20px;
        padding: 0;
        gap: 20px;  
        width: 250px;
    }
    .logo-pic img{
        width: 50px;
    }
    .nav-bar{
        gap: 15px; 
    }
    .nav-bar a{
        font-size: 15px;

    }
    .search-term{
        padding: 0;
        height: 35px;
    }
    .search ::placeholder{
        padding-left: 30px;
    }
    .find{
        top: 8px;
    }
    .banner-section{
        flex-direction: column;
        gap: 5px;
    }
    .ban-headline, .ban-title{
        margin-top: 35px;
    }
    .banner-head1{
        font-size: 1.5rem;
    }
    .banner-head2{
        font-size: 1.5rem;
    }
    .banner-desc p{
        width: 250px;
    }
    .order-box{
        margin-top: 40px;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .polygon-btn{
        width: 40px;
        height: 40px;
        margin-left: 55px;
        padding: 10px 14px;
    }
    .polygon-btn img{
        width: 20px;
        height: 20px;
    }
    .various-snacks{
        flex-direction: column;
    }
    .snacks{
        width: 250px;
    }
    .info-desk{
        border: 1px solid rgb(181, 176, 176);
        width: 250px;
        text-align: center;
        flex-direction: column;
        gap: 25px;
        padding: 0;
    }
    .info-desk:hover{
        padding: 3px 0;
    }
    .our-time{
        gap: 15px;
        border: none;
        align-items: center;
        padding-left: 70px ;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .place{
        gap: 12px;
        border: none;
        padding-left: 70px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .menu-demo{
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .popular-items{
        width: 280px;
    }
    .Products-btn{
        text-align: start;
    }
    .products-highlight{
        text-align: start;
    }
    .your-choice{
        margin-top: 30px;
        flex-direction: column;
        width: fit-content;
        gap: 30px;
    }
    .service-types{
        align-items: center;
        gap: 25px;
        padding: 35px 10px;
        width: 250px;
    }
    .clients-review{
        margin-top: 50px;
        flex-direction: column;
        gap: 30px;
    }
    .left-compli-part{
        width: 250px;
        padding: 40px 30px;
    }
    .right-food-pho {
        width: 250px;
        padding: 40px 30px;
    }
    .subscription{
        flex-direction: column;
        align-items: start;
        width: fit-content;
        padding: 40px 35px;
        border-radius: 25px;
        margin-top: 120px;
    }
    .pick-items{
        padding: 0;
    }
    .pick-items img{
        width: 162px;
    }
    .cli-add {
       width: 250px;
       padding: 0;
    }
    #email{
        padding: 20px 70px 20px 15px;
    }
    .subscribe-btn{
        left: 153px;
    }
    footer{
        flex-direction: column;
        /* width: fit-content; */
        gap: 40px;
    }
    .more-info{
        width: 250px;
        gap: 15px;
    }
    .social-link{
        gap: 15px;
    }
    .social-link i{
        font-size: 23px;
    }
    .details{
        gap: 15px;
        width: fit-content;
    }

    /* for js */
    #see-more{
        display: none;
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}